/*Universal font for the site*/
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular','Lucida Sans Unicode', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*Formatting for different header elements*/
.header {
    padding: 25px;
    background-color: rgb(3, 79, 3);
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 32px;
}

.header div {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/*Formatting for the links in the header*/
.header div ul {
    list-style-type: none;
}

.header div ul li{
    margin-left: 20px;
    display: inline-block;
}

a {
    color: white;
}

h2 {
    text-align: center;
    font-size: 250%;
    margin-top: 25px;
}

p {
    text-align: center;
}

/*Formatting for the main bulk of text*/
.content {
    background-color: #3D405B;
    color: white;
}

.about-me {
    text-align: center;
    border: white;
    border-style: solid;
    border-width: 10px;
}

/*Sizing for the profile picture*/
.left {
    width: 5%;
    border-radius: 200px;
    margin-right: 20px;
}

/*Sizing and placement for the main my work link*/
#feature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 20px;
}

.contact-me {
    font-size: 150%;
    font-weight: 500;
    margin: 25px;
}

.card {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card h2 {
    font-size: 20px;
}

.card img {
    width: 100%;
}

.future-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Formatting to adjust screen sizes*/
@media screen and (min-width: 768px) {
.card {
    width: 35%;
    margin: 15px;
}   
}

@media screen and (min-width: 992px) {
    .card {
        margin-left: 20px;
        margin-right: 20px;
        width: 10%;
        border-radius: 20px;
    }
    
    .future-projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}